body{
    margin:0;
    font-family:Arial, sans-serif;
    text-align:center;
    background:linear-gradient(
    135deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4);
    overflow-x:hidden;
}

.title{
    color:white;
    margin-top:50px;
}

.popup{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.popup-content{
    background:white;
    padding:30px;
    border-radius:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#ff4081;
    color:white;
    font-size:18px;
    cursor:pointer;
}

#cake{
    font-size:100px;
    margin:20px;
}

#balloons{
    display:none;
    margin-top:30px;
}

#balloons span{
    font-size:60px;
    display:inline-block;
    animation:float 2s infinite;
}

@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-30px);
    }
    100%{
        transform:translateY(0);
    }
}

#gallery{
    display:none;
    margin-top:40px;
}

#gallery img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    margin:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

#message{
    display:none;
    margin:30px;
    font-size:20px;
    color:white;
}

@media(max-width:768px){

#gallery img{
    width:90%;
    height:auto;
}

#cake{
    font-size:70px;
}
}